.wrap{
    max-width: 1440px;
    margin: 0 auto;
}
.container{
    max-width: 940px;
    margin: 0 auto;
}
.header{
    margin-top: 30px;
}

.cart-box{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 59px;
}
@media(max-width:768px){
    .cart-box{
        flex-direction: column;
    }
}
.cart-card{
    max-width:620px ;
}
@media(max-width:768px){
    .cart-card{
        max-width:550px
    }
}
@media(max-width:414px){
    .cart-card{
        max-width:375px
    }
}
h5{
    font-size: 24px;
    font-weight: bold;
    padding: 16px 0;
    color: #3d250f;
    background: #fff0e5;
    text-align: center;
    margin-bottom: 33px;
    letter-spacing: 1px;
}
.cart-list{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media(max-width:414px){
    .cart-list{
        flex-direction: column;
    }
}

.cart-list img{
    max-width: 110px;
}
.cake-name{
    font-size: 20px;
    color: #3d250f;
    line-height: 1.5;
    padding: 0 39px;
}  
@media(max-width:768px){
    .cake-name{
        padding: 0 31px;
    }
}
@media(max-width:414px){
    .cake-name{
        text-align: center;
        padding: 5px 0;
    }
}
.cake-num ul{
    display: flex;
}
@media(max-width:414px){
    .cake-num ul{
        padding-bottom: 10px;
    }
}
.cake-number{
    font-size: 16px;
    color: #3d250f;
    padding: 13px 19px;
    border: 1px solid #fff0e5;
}
@media(max-width:768px){
    .cake-number{
        padding: 7px 13px;
    }
}
.total{
    font-size: 20px;
    font-weight: bold;
    color: #3d250f;
    padding: 0 38px;
}
@media(max-width:768px){
    .total{
        padding: 0 26px;
    }
}
.trush-box {
    opacity: 0.5;
}
@media(max-width:576px){
    .trush-box{
        display: none;
    }
}
.order-card{
    max-width: 300px;
    height: 193px;
    text-align: center;
    background:#3d250f;
}
@media(max-width:768px){
    .order-card{
        max-width: 100%;
    }
    .container{
        max-width: 550px;
    }
}
@media(max-width:576px){
    .order-card{
        max-width: 100%;
    }
    .container{
        max-width: 375px;
    }
}
h6{
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 16px 100px;
    letter-spacing: 1px;
}
.border{
    max-width: 260px;
    border-top: 1px solid white;
    margin-left: 20px;
}
@media(max-width:768px){
    .border{
        display: none;
    }
}
.order-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 16px 0;
    padding: 0 20px;
}    
@media(max-width:768px){
    .order-list{
        padding: 0 40px;
    }
}
.total-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 30px;
    padding: 0 20px;
    margin-bottom: 20px;
}
@media(max-width:768px){
    .total-list{
        padding: 0 40px;
    }
}
.total-name,.total-money{
    font-size: 20px;
    font-weight: bold;
}

.check-btn a{
    display: block;
    padding: 16px 0;
    font-size: 24px;
    color: #3d250f;
    background: #fff0e5;
}
.check-btn a:hover{
    background:#3d250f;
    color: #fff0e5;
}

.footer-info{
    padding-left: -20px;
}


@media(max-width:414px){
    .info-slogan{
        display: none;
    }
}
