.wrap{
    max-width: 1440px;
    margin: 0 auto;
}
.container{
    max-width: 940px;
    margin: 0 auto;
}
.header{
    margin-top: 30px;
}
.checkout{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 65px;
}
.checkout-card{
    width: 460px;
    background: #3d250f;   
}
.people-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -4px;
    margin-left: -4px;
}
h1{
    font-size: 36px;
    font-weight: bold;
    color: white;
    padding: 30px 0;
    padding-left: 40px;
}
.people-info-box{
    padding-right: 4px;
    padding-left: 4px;
}
.people-info-box p{
    color: white;
    font-weight: bold;
    padding: 16px 0 8px 0;
}
.check-box{
    outline-style: none;
    width: 176px;
    height: 50px;
    font-size: 18px;
    background: #fff0e5;
}
.check-box2{
    outline-style: none;
    width: 368px;
    height: 50px;
    font-size: 18px;
    background: #fff0e5;
}
.check-box3{
    outline-style: none;
    width: 183px;
    height: 50px;
    font-size: 18px;
    background: #fff0e5;
}
.check-box4{
    outline-style: none;
    width: 368px;
    height: 50px;
    font-size: 18px;
    background: #fff0e5;
    margin: 8px 0 30px 0;
}
.next-btn a{
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #3d250f;
    background: #fff0e5;
    text-align: center;
    padding: 19px 0;
}
.next-btn a:hover{
    color: #fff0e5;
    background: #3d250f;
}
.checkout-order{
    margin-left: 20px;
}
.checkout-list{
    width: 300px;
    
}
h2{
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: #3d250f;
    padding: 16px 0;
    text-align: center;
    letter-spacing: 1px;
}
.order-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3d250f;
    margin: 16px 0;
    padding: 0 20px;
}    
@media(max-width:768px){
    .order-list{
        padding: 0 40px;
    }
}
.total-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3d250f;
    margin-top: 30px;
    padding: 0 20px;
    margin-bottom: 20px;
}
@media(max-width:768px){
    .total-list{
        padding: 0 40px;
    }
}
.total-name,.total-money{
    font-size: 20px;
    font-weight: bold;
}
.checkout-order{

}
@media(max-width:768px){
    .checkout-order{
        display: none;
    }
}
.shopping-pro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 0;
    
}
.product-img{
    width: 80px;
    padding-right:30px;
}
.product-name p{
    font-size: 18px;
    color: #3d250f;
    padding-bottom: 10px;
}
.product-name span{
    font-size: 22px;
    color: #3d250f;
    font-weight: bold;
}

.footer-info{
    padding-left: -20px;
}

