.footer-mail{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A17E55;
}
@media(max-width:768px){
    .footer-mail{
        flex-direction: column;
        padding-bottom: 30px;
    }
}
.mail-slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 124px;
}
@media(max-width:768px){
    .mail-slogan{
        margin-right: 0;
    }
}
.mail-slogan img{
    padding: 38px 20px 38px 0;
}
h3{
    color: white;
    font-size: 24px;
}
.mail-box{
    display: flex;
}
.add-mail img{
    background: #F7DBBC;
    padding: 16px 272px 16px 20px;
}
.enter-box img{
    background: white;
    padding: 16px 20px;
}
.footer-info{
    background: #F7DBBC;
}

.footer-box{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
@media(max-width:768px){
    .container{
        max-width: 500px;
    }
    .footer-box{
        padding: 50px 100px;
    }
}
@media(max-width:576px){
    .container{
        max-width: 375px;
    }
}
.sweethouse-info p{
    padding: 115px 0 30px 0;
    color: #A17E55;
    line-height: 1.5;
}

.info-slogan{
    color: #3D250F;
    font-size: 34px;
    font-weight: bold;
    writing-mode: vertical-rl;
    letter-spacing: 3px;
    line-height: 1.5;
}
@media(max-width:768px){
    .info-slogan{
        display: none;
    }
}