.header{
    margin-top: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header-mobile{
    display: none;
    justify-content:space-between; 
    align-items: center;
}
@media(max-width:768px){
    .header{
        display: none;
    }
    .header-mobile{
        max-width: 440px;
        margin: 0 auto;
        display: flex;
        margin-top: 30px;
    }
}
@media(max-width:576px){
    .header-mobile{
        max-width: 315px;
        margin: 0 auto;
        display: flex;
        margin-top: 30px;
    }
}
.menu li a{  
    color: #3D250F;
    text-align: center;
    margin-right: 60px;
}
.menu li a:hover{
    color: #F7DBBC;
}
.banner {
    margin-top: 30px;
}
@media(max-width:768px){
    .banner{
        max-width: 500px;
    }
}
@media(max-width:576px){
    .banner{
        max-width: 375px;
    }
}
