
.wrap{
    max-width: 1440px;
    margin: 0 auto;
}
.container{
    max-width: 940px;
    margin: 0 auto;
}
.header{
    margin-top: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header-mobile{
    display: none;
    justify-content:space-between; 
    align-items: center;
}
@media(max-width:768px){
    .header{
        display: none;
    }
    .header-mobile{
        max-width: 440px;
        margin: 0 auto;
        display: flex;
        margin-top: 30px;
    }
}
@media(max-width:576px){
    .header-mobile{
        max-width: 315px;
        margin: 0 auto;
        display: flex;
        margin-top: 30px;
    }
}
.menu li a{  
    color: #3D250F;
    text-align: center;
    margin-right: 60px;
}
.menu li a:hover{
    color: #F7DBBC;
}
.cart{
    padding-left: 19px;
}
.banner {
    margin-top: 30px;
}
@media(max-width:768px){
    .banner{
        max-width: 500px;
    }
}
@media(max-width:576px){
    .banner{
        max-width: 375px;
    }
}
.banner-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-bottom: 60px;
}
@media(max-width:768px){
    .banner-card {
        margin-top: 0;
    }
}
.banner-card a{
    background: #3D250F;
    color: #F7DBBC;
    font-size: 24px;
    padding: 60px 118px; 
    writing-mode: vertical-lr;
    letter-spacing: 5px;
    margin-right: 0.5px;
    margin-left: 0.5px;
}
@media(max-width:768px){
    .banner-card a{
        padding: 40px 71px;
    }
}
@media(max-width:576px){
    .banner-card a{
        padding: 40px 50px;
    }
}
.banner-card a:hover{
    color: #3D250F;
    background-color:#F7DBBC;
}
.main-mobile-slogan{
    margin-bottom: 55px;
    display: flex;
    justify-content: center;
}
@media(max-width:1920px){
    .main-mobile-slogan{
        display: none;
    }
}
@media(max-width:768px){
    .main-mobile-slogan{
        display: flex;
    }
}
.main{
    position: relative;
    margin-bottom: 105px;
}
@media(max-width:768px){
    .main{
        margin-bottom: 50px;
    }
}
.main-bg{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 20px;
    background-image: url(https://github.com/xiouyuwen/sweethouse/blob/main/sweet-image/main%20bg.png?raw=true);
    background-size: cover;
    z-index: -1;
}
@media(max-width:768px){
    .main-bg{
        bottom: 0;
        top: 375px;
        display: none;
    }
}
.main-card{
    display: flex;
}
@media(max-width:768px){
    .main-card{
        max-width: 500px;
        flex-direction: column;
    }
}
@media(max-width:576px){
    .main-card{
        max-width: 375px;
    }
}
.main-card2{
    display: flex;
    flex-direction: row-reverse;
}
@media(max-width:768px){
    .main-card2{
        max-width: 500px;
        flex-direction: column;
    }
}
@media(max-width:576px){
    .main-card2{
        max-width: 375px;
    }
}
.main-word{
    max-height: 280px;
    padding: 70px 51px 70px 55px;
    line-height: 2;
    writing-mode: vertical-rl;
}
@media(max-width:768px){
    .main-word{
        writing-mode: horizontal-tb;
        padding: 30px;
        background-image: url(https://github.com/xiouyuwen/sweethouse/blob/main/sweet-image/main%20bg.png?raw=true);
        background-size: cover;
    }
}
h1{
    color: #3D250F;
    font-size: 34px;
    font-weight: bold;
    writing-mode: vertical-rl;
    letter-spacing: 3px;
    line-height: 1.5;
}
@media(max-width:768px){
    h1{
        display: none;
    }
}
h2{
    color: #3D250F;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    line-height: 1.5;
}
.main-slogan{
    display: flex;
    justify-content: center;
}


.product-list{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 60px;
}
@media(max-width:768px){
    .product-list{
        flex-wrap: wrap;
    }
    .container{
        max-width: 500px;
    }
}
@media(max-width:576px){
    .container{
        max-width: 375px;
    }
}
.product-item{
    position: relative;
}
@media(max-width:768px){
    .product-item{
        margin-bottom: 30px;
    }
}
.product-img img{
    display: block;
}
@media(max-width:768px){
    .product-img img{
        width: 500px;
    }
}
@media(max-width:576px){
    .product-img img{
        width: 375px;
    }
}
.hot{
    background: #3D250F;
    color:white;
    font-size: 16px;
    writing-mode:vertical-lr;
    padding: 10px;
    letter-spacing:5px;
    position: absolute;
    top:0;
    left:20px;
}
.like{
    position: absolute;
    top: 19px;
    right: 20px;
}
.product-info {
    display: flex;
    border: 1px solid #F7DBBC;
}
.product-info li{
    text-align: center;
}
.product-name{
    width: 170px;
    color: #3D250F;
    font-size: 20px;
    padding: 14px 0;
    border-right: 1px solid #F7DBBC;
}
@media(max-width:768px){
    .product-name{
        width: 50%;
    }
}
@media(max-width:576px){
    .product-name{
        width: 50%;
    }
}
.product-price{
    width: 130px;
    color: #3D250F;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 0;
}
@media(max-width:768px){
    .product-price{
        width: 50%;
    }
}
@media(max-width:576px){
    .product-price{
        width: 50%;
    }
}
.product-add a{
    color: #3D250F;
    background: #F7DBBC;
    padding: 16px 0;
    font-weight: bold;
    font-size: 24px;
    display: block;
    text-align: center;
}
.product-add a:hover{
    color: #F7DBBC;
    background: #3D250F;
}
.footer-mail{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A17E55;
}
@media(max-width:768px){
    .footer-mail{
        flex-direction: column;
        padding-bottom: 30px;
    }
}
.mail-slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 124px;
}
@media(max-width:768px){
    .mail-slogan{
        margin-right: 0;
    }
}
.mail-slogan img{
    padding: 38px 20px 38px 0;
}
h3{
    color: white;
    font-size: 24px;
}

.add-mail{
    display: flex;
    align-items: center;
}
.add-mail-box{
    width:316px;
    height:57px;
    background: #fff0e5;
    font-size: 24px;
    border: 0 
}
.mail-img{
    background: #fff0e5;
    padding: 16px 20px;
}
.enter-box{
    background: #A17e55;
    padding: 15px 20px;
}

.footer-info{
    background: #F7DBBC;
}

.footer-box{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
@media(max-width:768px){
    .container{
        max-width: 500px;
    }
    .footer-box{
        padding: 50px 100px;
    }
}
@media(max-width:576px){
    .container{
        max-width: 375px;
    }
}
.sweethouse-info p{
    padding: 115px 0 30px 0;
    color: #A17E55;
    line-height: 1.5;
}