.wrap{
    max-width: 1440px;
    margin: 0 auto;
}
.container{
    max-width: 940px;
    margin: 0 auto;
}
.header{
    margin-top: 30px;
}
.login{
    display: flex;
    margin-top: 66px;
    margin-bottom: 60px;
}
.member-login{
    width: 390px;
    background: #3D250F;
    

}
h4{
    font-size: 36px;
    font-weight: bold;
    color: white;
    padding: 40px 125px 40px 121px;
}
.account-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.account{
    width: 330px;
    background: #fff0e5;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.account img{
    padding: 16px 20px;
}
.info{
    color: #A17E55;
}
.remember-box{
    display: flex;
    align-items: center;
}
.checkbox{
    width: 16px;
    height: 16px;
    margin: 0 8px 0 30px;
}
.cbox1{
    color: white;
}
.login-btn-box{
    margin-top: 30px;
}
.login-btn-box a{
    font-size: 24px;
    font-weight: bold;
    background: #E8CAA7;
    color: #3d250f;
    padding: 16px 0;
    display: block;
    text-align: center;
}
.login-btn-box a:hover{
    background: #3d250f;
    color: #E8CAA7;
}
.login-media{
    width: 390px;
    background:#fff0e5;
}
.link-media{
    color: #A17E55;
    font-size: 24px;
    padding: 40px 0;
    text-align: center;
}
.media img{
    background: #A17e55;
    
}
